{% extends "base.html" %}

{% block content %}
    <a href="{% url 'localevents:event_list' %}">Return to Events</a>    
    <h3>Local Events</h3>

    {% if object.event_image %}
        <img src="{{ object.event_image.url }}" alt="">
    {% endif %}
    <h2>{{ event.title }} ({{ event.category }})</h2>
    <h4><strong>Event Organizers:</strong></h4>
    {% for user in event.organizer.all %}
        <h3>{{ user }}</h3>
    {% endfor %}

    <h4> {{ event.description }}</h4>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Event Capacity:</strong> {{ event.event_capacity }}</p>
    <p><strong>Status:</strong> {{ event.status }}</p>
    <p><strong>Start Time:</strong> {{ event.start_time }}</p>
    <p><strong>End Time:</strong> {{ event.end_time }}</p>
    <p>Shared on {{ event.created_on }}</p>
    <p>Last updated on {{ event.updated_on }}</p>

    <form method="post">
        {% csrf_token %}
        <label for="user_name">
            <span>Please Enter Your Name</span>
            <input type="text" id="user_name" name="user_name">
        </label>
        <input type="submit" value="Submit">
    </form>
{% endblock %}