{% extends "base.html" %}

{% block content %}
    <h3>Local Events</h3>
    {% if object.event_image %}
        <img src="{{ object.event_image.url }}" alt="">
    {% endif %}
    <h2>{{ event.title }} ({{ event.category }})</h2>
    <h4><strong>Event Organizers:</strong></h4>
    <ul>
        {% for user in group.organizer.all %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <h4> {{ event.description }}</h4>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Event Capacity:</strong> {{ event.event_capacity }}</p>
    <p><strong>Status:</strong> {{ event.status }}</p>
    <p><strong>Start Time:</strong> {{ event.start_time }}</p>
    <p><strong>End Time:</strong> {{ event.end_time }}</p>
    <p>Shared on {{ event.created_on }}</p>
    <p>Last updated on {{ event.updated_on }}</p>

    {% if request.user.profile == event.organizer %}
        <a href="{% url 'localevents:event_update' event.pk %}">Update Event</a>
    {% else %}
        <button type="button">Sign Up</button>
    {% endif %}
{% endblock %}