{% extends "base.html" %}

{% block content %}
    <h3>Create a New Event</h3>
    <h5>Fill out the fields below.</h5>
    <form method="post">
        {% csrf_token %}
        <label for="event_name">
            <span>Event Name</span>
            <input type="text" id="event_name" name="event_name">
        </label>
        <label for="start_time">
            <span>Task Due Date</span>
            <input type="datetime" id="start_time" name="start_time">
        </label>
        <input type="submit" value="Submit">
    </form>
{% endblock %}