{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Common Grounds</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="up">
                <h1><a href="{% url 'homepage' %}">Common Grounds</a></h1>
            </div>
            <div class="log">
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                            <button id="logout" class="ui_button" type="submit">Logout</button>
                            <button class="ui_button"><a href="{{ user.profile.get_absolute_url }}">Update Profile</a></button>
                    </form>
                {% else %}
                        <button class="ui_button"><a href="{% url 'login' %}">Login</a></button>
                {% endif %}
            </div>
            <h2> {% block page_heading %} {% endblock %}</h2>
            
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>