{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <p> Welcome to Commongrounds, {{ user.profile.display_name }}! </p>
        <p> <a href="{{ user.profile.get_absolute_url }}"> Update Profile </a></p>
    {% else %}
        <p> Welcome to Commongrounds!</p>
    {% endif %}
    <li><a href="{% url 'merchstore:product_list' %}"> Merchandise Store </a></li>
    <li><a href="{% url 'localevents:event_list' %}"> Local Events </a></li>
    <li><a href="{% url 'bookclub:book_list' %}"> Book Club </a></li>
    <li><a href="{% url 'diyprojects:project_list' %}"> DIY Projects </a></li>
    <li><a href="{% url 'commissions:request_list' %}"> Commission Requests </a></li>
{% endblock %}