{% extends 'base.html' %}

{% block content %}
    <h3>Borrow "{{ book.title }}"</h3>

    <h4>Book Info</h4>
    <ul>
        <li><b>Title:</b> {{ book.title }}</li>
        <li><b>Genre:</b> {{ book.genre }}</li>
        <li><b>Author:</b> {{ book.author }}</li>
        <li><b>Synopsis:</b> {{ book.synopsis }}</li>
        <li><b>Year Published:</b> {{ book.publication_year }}</li>
    </ul>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="submit">Borrow</button>
    </form>

<a href="{% url 'bookclub:book_list' %}">I'm not borrowing</a>

{% endblock %}