{% extends "base.html" %}

{% block content %}
    <h3>Book Club</h3>
    
    <h3>{{ book.title }} ({{ book.publication_year }})</h3>
    <h4>By {{ book.author }}</h4>
    <p><b>Genre: </b>{{ book.genre }}</p>
    <h4>Synopsis</h4>
    <p>{{ book.synopsis }}</p>
    <p><i>Available to be borrowed?</i> <b>{{ book.available_to_borrow }}</b></p>
    <p>Shared on {{ book.created_on }} by PLACEHOLDER</p>
    <!-- book.contributor doesnt work at the mo -->
    <p>Last updated on {{ book.updated_on }}</p>
    <a href="{% url 'bookclub:book_edit' book.pk %}">Update Book</a>
    <h3>Thoughts?</h3>
    <form method="POST">
        {% csrf_token %}
        {{ review }}
        <input type="submit" name="submit" value="Review!">
    </form>
    <h4>Other people have thoughts too...</h4>
    <ul>
        {% for review in review_list %}
            <li>
                <p><b>{{ review.user_reviewer }}: {{ review.comment }}</b></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}