{% extends "base.html" %}

{% block content %}
    <h3>Book Club</h3>
    
    <a href="{% url 'bookclub:book_list' %}">Go Back</a>
  
    <h3>{{ book.title }} ({{ book.publication_year }})</h3>
    <h4>By {{ book.author }}</h4>
    <p><b>Genre: </b>{{ book.genre }}</p>
    <h4>Synopsis</h4>
    <p>{{ book.synopsis }}</p>
    <p><i>Available to be borrowed?</i> <b>{{ book.available_to_borrow }}</b></p>
    
    {% if book.available_to_borrow %}
        <a href="{% url 'bookclub:book_borrow' book.pk %}">Borrow this book</a>
    {% endif %}
    
    <p><b>{% if bookmark_count == 0 %}No Bookmarks
          {% elif bookmark_count == 1 %}{{ bookmark_count }} Bookmark
          {% else %}{{ bookmark_count }} Bookmarks{% endif %}</b></p>
    {% if user.is_authenticated %}
        <form method="POST">
            <button type="submit" name="to_bookmark" value="bookmark">
                {% csrf_token %}
                {% if bookmarked %}Bookmarked
                {% else %}Bookmark
                {% endif %}
            </button>
        </form>
        {% else %}
        <button type="button"><a href="{% url 'login' %}">Log in to bookmark</a></button>
    {% endif %}
     

    <p>Shared on {{ book.created_on }} by {{ book.contributor }}</p>
    <p>Last updated on {{ book.updated_on }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'bookclub:book_edit' book.pk %}">Update Book</a>
    {% endif %}

    <h3>Thoughts?</h3>
    <form method="POST">
        {% csrf_token %}
        {{ review }}
        <input type="submit" name="submit" value="Leave a Review">
    </form>
    <h4>Other people have thoughts too...</h4>
    <ul>
        {% for review in reviews %}
            <li>
                <p><b>{{ review.title }}:</b> {{ review.comment }} <i>- {{ review.user_reviewer|default:"Anonymous" }}</i></p>
            </li>
            {% empty %}
            <p><i>or not... yet.</i></p>
        {% endfor %}
    </ul>
{% endblock %}