{% extends "base.html" %}

{% block content %}
    <h3>Merchandise Store</h3>
    <h5>Product List</h5>

    <a href="{% url 'merchstore:product_create' %}">Add a New Product</a>

    {% if user.is.authenticated and products_user %}
    <h5>Your Products</h5>
    <ul>
        {% for product in products_user %}
        <li>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h5>All Products</h5>
    <ul>
        {% for product in products_all %}
            <li>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <p>Seller: {{ product.owner }}</p>
            </li>
        {% empty %}
            <li>No products avaliable</li>
        {% endfor %}
    </ul>

{% endblock %}