{% extends "base.html" %}

{% block content %}
<h2>Your Transactions</h2>
{% regroup transactions by buyer as buyer_list %}
{% for group in buyer_list %}
    <h5>Buyer: {{ group.grouper }}</h5>
    <ul>
        {% for transaction in group.list %}
        <li>
            <b>{{ transaction.product.name }}</b>
            <br>
            Amount: {{ transaction.amount }}
            <br>
            Status: {{ transaction.status }}
            <br>
            Purchased on: {{ transaction.created_on.date }}
        </li>
        {% endfor %}
    </ul>
{% empty %}
    <p>Transactions are empty</p>
{% endfor %}

<br>
<a href="{% url 'merchstore:product_list' %}">Go Back</a>
{% endblock %}