{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="app_head"><a href="/commissions/requests">Commission Requests</a></h1>
    <h2 class="app_head">{{ previous }} Commission</h2>

    <div class="form">
        <form method="POST">
            {% csrf_token %}
            {{ form }}

            <h3>Jobs</h3>
            {{ job_formset.management_form }}
            {% for job_form in job_formset %}
                <ul>
                    <li>
                        {{ job_form }}
                    </li>
                </ul>
                
            {% endfor %}

            <input type="submit" name="submit" value="Save Form">
        </form>

    </div>

{% endblock %}    